<div class="row">
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Pie</mat-card-header>
      <mat-card-content>
        <ngx-echarts-pie></ngx-echarts-pie>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Bar</mat-card-header>
      <mat-card-content>
        <ngx-echarts-bar></ngx-echarts-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Line</mat-card-header>
      <mat-card-content>
        <ngx-echarts-line></ngx-echarts-line>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Multiple x-axis</mat-card-header>
      <mat-card-content>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Area Stack</mat-card-header>
      <mat-card-content>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Bar Animation</mat-card-header>
      <mat-card-content>
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Radar</mat-card-header>
      <mat-card-content>
        <ngx-echarts-radar></ngx-echarts-radar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
