<div class="row">
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-pie">
      <mat-card-header>
        <mat-card-title>Pie</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-pie></ngx-echarts-pie>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-bar">
      <mat-card-header>
        <mat-card-title>Bar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-bar></ngx-echarts-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-line">
      <mat-card-header>
        <mat-card-title>Line</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-line></ngx-echarts-line>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-multiple-x-axis">
      <mat-card-header>
        <mat-card-title>Multiple x-axis</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-area-stack">
      <mat-card-header>
        <mat-card-title>Area Stack</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-bar-animation">
      <mat-card-header>
        <mat-card-title>Bar Animation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="chart-card" data-testid="echart-card-radar">
      <mat-card-header>
        <mat-card-title>Radar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-echarts-radar></ngx-echarts-radar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
