@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-var-map: (
  'sidebar-width': var(--sidebar-width, 256px),
  'header-padding': var(--header-padding, 1rem),
  'divider-width': var(--divider-width, 1px),
  'divider-style': var(--divider-style, solid),
  'divider-color': var(--divider-color, #edf1f7),
  'text-hint-color': var(--text-hint-color, #8f9bb3),
  'text-control-color': var(--text-control-color, #ffffff),
  'text-basic-color': var(--text-basic-color, #222b45),
  'background-basic-color-1': var(--background-basic-color-1, #ffffff),
  'background-basic-color-2': var(--background-basic-color-2, #f7f9fc),
  'background-basic-color-3': var(--background-basic-color-3, #edf1f7),
  'card-border-radius': var(--card-border-radius, 0.5rem),
  'layout-padding-top': var(--layout-padding-top, 2.25rem),
  'button-hero-primary-left-background-color': var(--hero-primary-left, #598bff),
  'button-hero-primary-right-background-color': var(
      --hero-primary-right,
      #3366ff
    ),
  'button-hero-primary-hover-left-background-color': var(
      --hero-primary-left-hover,
      #3366ff
    ),
  'button-hero-primary-hover-right-background-color': var(
      --hero-primary-right-hover,
      #274bdb
    ),
  'button-hero-success-left-background-color': var(--hero-success-left, #2ce69b),
  'button-hero-success-right-background-color': var(
      --hero-success-right,
      #00d68f
    ),
  'button-hero-success-hover-left-background-color': var(
      --hero-success-left-hover,
      #00d68f
    ),
  'button-hero-success-hover-right-background-color': var(
      --hero-success-right-hover,
      #00b887
    ),
  'button-hero-info-left-background-color': var(--hero-info-left, #42aaff),
  'button-hero-info-right-background-color': var(--hero-info-right, #0095ff),
  'button-hero-info-hover-left-background-color': var(
      --hero-info-left-hover,
      #0095ff
    ),
  'button-hero-info-hover-right-background-color': var(
      --hero-info-right-hover,
      #0078d7
    ),
  'button-hero-warning-left-background-color': var(--hero-warning-left, #ffc94d),
  'button-hero-warning-right-background-color': var(
      --hero-warning-right,
      #ffaa00
    ),
  'button-hero-warning-hover-left-background-color': var(
      --hero-warning-left-hover,
      #ffaa00
    ),
  'button-hero-warning-hover-right-background-color': var(
      --hero-warning-right-hover,
      #db8b00
    ),
  'button-hero-danger-left-background-color': var(--hero-danger-left, #ff708d),
  'button-hero-danger-right-background-color': var(--hero-danger-right, #ff3d71),
  'button-hero-danger-hover-left-background-color': var(
      --hero-danger-left-hover,
      #ff3d71
    ),
  'button-hero-danger-hover-right-background-color': var(
      --hero-danger-right-hover,
      #db2c66
    ),
);

@mixin nb-install-component() {
  :host {
    @content;
  }
}
@mixin nb-for-theme($args...) {
  @content;
}
@mixin nb-ltr($args...) {
  @content;
}
@mixin nb-rtl($args...) {
  @content;
}
@mixin nb-register-theme($args...) {
}
@mixin nb-install() {
  @content;
}
@mixin nb-theme-global() {
  @content;
}
@mixin nb-auth-global() {
  @content;
}
@mixin ngx-layout() {
  @content;
}
@mixin ngx-pace-theme() {
  @content;
}
@mixin nb-overrides() {
  @content;
}
@mixin install-thumb() {
  @content;
}
@mixin install-track() {
  @content;
}

@function nb-get-statuses() {
  @return (primary, success, info, warning, danger);
}

@function nb-theme($var) {
  $value: map-get($theme-var-map, $var);
  @if $value != null {
    @return $value;
  }
  @return var(--theme-fallback, #c5cee0);
}

// Re-defining variables that components might expect from nb-register-theme
$nb-themes: (
  default: (
    layout-padding-top: 2.25rem,
  ),
  cosmic: (),
  corporate: (),
  dark: (),
);
