<div class="row">
  <div class="col-md-12">
    <mat-card class="inline-form-card">
      <mat-card-header>Inline form</mat-card-header>
      <mat-card-content>
        <form class="form-inline">
          <input type="text" matInput placeholder="Jane Doe" />
          <input type="text" matInput placeholder="Email" />
          <mat-checkbox>Remember me</mat-checkbox>
          <button type="submit" mat-button color="primary">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card class="grid-form-card">
      <mat-card-header>Using the Grid</mat-card-header>
      <mat-card-content>
        <form class="form-grid">
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label"
              >Email</label
            >
            <div class="col-sm-9">
              <input
                type="email"
                matInput
                id="inputEmail1"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label"
              >Password</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                matInput
                id="inputPassword2"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Radios</label>
            <div class="col-sm-9">
              <mat-radio-group>
                <mat-radio-button>Option 1</mat-radio-button>
                <mat-radio-button>Option 2</mat-radio-button>
                <mat-radio-button disabled>Disabled Option</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" mat-button color="primary">Sign in</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="no-labels-card">
      <mat-card-header>Form without labels</mat-card-header>
      <mat-card-content>
        <form class="form-no-labels">
          <div class="form-group">
            <input type="text" matInput placeholder="Recipients" />
          </div>
          <div class="form-group">
            <input type="text" matInput placeholder="Subject" />
          </div>
          <div class="form-group">
            <textarea matInput placeholder="Message"></textarea>
          </div>
          <button type="submit" mat-button color="accent">Send</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card>
      <mat-card-header>Basic form</mat-card-header>
      <mat-card-content>
        <form class="form-basic">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label">Email address</label>
            <input
              type="email"
              matInput
              id="exampleInputEmail1"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="label">Password</label>
            <input
              type="password"
              matInput
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <mat-checkbox>Check me out</mat-checkbox>
          </div>
          <button type="submit" mat-button color="warn">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="block-form-card">
      <mat-card-header>Block form</mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">First Name</label>
              <input
                type="text"
                matInput
                id="inputFirstName"
                placeholder="First Name"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Last Name</label>
              <input
                type="text"
                matInput
                id="inputLastName"
                placeholder="Last Name"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input
                type="email"
                matInput
                id="inputEmail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Website</label>
              <input
                type="text"
                matInput
                id="inputWebsite"
                placeholder="Website"
              />
            </div>
          </div>
        </div>
        <button type="submit" mat-button>Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card class="horizontal-form-card">
      <mat-card-header>Horizontal form</mat-card-header>
      <mat-card-content>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label"
              >Email</label
            >
            <div class="col-sm-9">
              <input
                type="email"
                matInput
                id="inputEmail3"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="inputPassword3"
              class="label col-sm-3 form-control-label"
              >Password</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                matInput
                id="inputPassword3"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <mat-checkbox>Remember me</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" mat-button color="warn">Sign in</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
