<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select</mat-card-header>
      <mat-card-content>
        <mat-select
          placeholder="Select Showcase"
          [(value)]="commonSelectedItem"
        >
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Multiple Select</mat-card-header>
      <mat-card-content>
        <mat-select multiple placeholder="Multiple Select">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Cleanable</mat-card-header>
      <mat-card-content>
        <mat-select placeholder="Cleanable">
          <mat-option>Clean</mat-option>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Placeholder</mat-card-header>
      <mat-card-content>
        <mat-select placeholder="Placeholder" color="primary">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Custom Label</mat-card-header>
      <mat-card-content>
        <mat-select placeholder="Custom Label" [(value)]="selectedItem">
          <mat-select-trigger>
            Selected: {{ selectedItem }}
          </mat-select-trigger>

          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select Groups</mat-card-header>
      <mat-card-content>
        <mat-select placeholder="Select Groups">
          <mat-optgroup label="Group 1">
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
            <mat-option value="4">Option 4</mat-option>
          </mat-optgroup>

          <mat-optgroup label="Group 2">
            <mat-option value="21">Option 21</mat-option>
            <mat-option value="22">Option 22</mat-option>
            <mat-option value="23">Option 23</mat-option>
            <mat-option value="24">Option 24</mat-option>
          </mat-optgroup>

          <mat-optgroup label="Group 3">
            <mat-option value="31">Option 31</mat-option>
            <mat-option value="32">Option 32</mat-option>
            <mat-option value="33">Option 33</mat-option>
            <mat-option value="34">Option 34</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Disabled Select</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select disabled placeholder="Disabled">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Disabled Items">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2" disabled>Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4" disabled>Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Disabled Groups">
          <mat-optgroup label="Group 1">
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2" disabled>Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
            <mat-option value="4">Option 4</mat-option>
          </mat-optgroup>

          <mat-optgroup label="Group 2" disabled>
            <mat-option value="21">Option 21</mat-option>
            <mat-option value="22">Option 22</mat-option>
            <mat-option value="23">Option 23</mat-option>
            <mat-option value="24">Option 24</mat-option>
          </mat-optgroup>

          <mat-optgroup label="Group 3">
            <mat-option value="31">Option 31</mat-option>
            <mat-option value="32">Option 32</mat-option>
            <mat-option value="33">Option 33</mat-option>
            <mat-option value="34">Option 34</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select Shapes</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select placeholder="Round">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Rectangle">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Semi-round">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select Sizes</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select placeholder="XSmall">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Small">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Medium">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Large">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select Statuses</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select placeholder="Primary" color="primary">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Info">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Danger" color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Success" color="accent">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Warning" color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Outline Select</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select placeholder="Primary" outline color="primary">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Info" outline>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Danger" outline color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Success" outline color="accent">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Warning" outline color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <mat-card>
      <mat-card-header>Select Colors</mat-card-header>
      <mat-card-content class="select-group">
        <mat-select placeholder="Primary" hero color="primary">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Info" hero>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Danger" hero color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Success" hero color="accent">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>

        <mat-select placeholder="Warning" hero color="warn">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>
  </div>
</div>
