<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <mat-card>
      <mat-card-header>Window Form</mat-card-header>
      <mat-card-content>
        <button (click)="openWindowForm()" mat-button>Open window form</button>

        <button (click)="openWindow(contentTemplate)" mat-button>
          Open window with template
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <mat-card>
      <mat-card-header>Window Without Backdrop</mat-card-header>
      <mat-card-content>
        <button (click)="openWindow(contentTemplate)" mat-button>
          Open window with backdrop
        </button>

        <button (click)="openWindowWithoutBackdrop()" mat-button>
          Open window without backdrop
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #contentTemplate let-data>
  <mat-card>
    <mat-card-header>Window content from template</mat-card-header>
    <mat-card-content>
      <p>Here is the text provided via config: "{{ data.text }}"</p>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button color="primary" mat-dialog-close>Close</button>
    </mat-card-footer>
  </mat-card>
</ng-template>

<ng-template #disabledEsc>
  <mat-card>
    <mat-card-header>Window without backdrop</mat-card-header>
    <mat-card-content> Disabled close on escape click. </mat-card-content>
    <mat-card-footer>
      <button mat-button color="primary" mat-dialog-close>Close</button>
    </mat-card-footer>
  </mat-card>
</ng-template>
