<mat-card class="cards-container">
  <mat-card class="table-card">
    <mat-card-header> Electricity Consumption </mat-card-header>

    <mat-tab-group>
      @for (year of listData; track year) {
        <mat-tab [label]="year.title" [active]="year.active">
          <mat-list>
            @for (month of year.months; track month) {
              <mat-list-item>
                <span class="month">{{ month.month }}</span>
                <span>
                  <mat-icon [class.down]="month.down" [class.up]="!month.down">
                    {{
                      month.down ? 'keyboard_arrow_down' : 'keyboard_arrow_up'
                    }}
                  </mat-icon>
                  {{ month.delta }}
                </span>
                <span class="results">
                  {{ month.kWatts }} <span class="caption">kWh</span> /
                  {{ month.cost }} <span class="caption">USD</span>
                </span>
              </mat-list-item>
            }
          </mat-list>
        </mat-tab>
      }
    </mat-tab-group>
  </mat-card>

  <mat-card class="chart-card">
    <mat-card-header>
      <span class="stats">
        <span class="caption">Consumed</span>
        <span>816 <span class="caption">kWh</span></span>
      </span>
      <span class="stats">
        <span class="caption">Spent</span>
        <span>291 <span class="caption">USD</span></span>
      </span>

      <mat-form-field appearance="outline" class="type-select-field">
        <mat-select [(value)]="type" class="type-select">
          @for (t of types; track t) {
            <mat-option [value]="t">{{ t }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-header>

    <ngx-electricity-chart [data]="chartData"></ngx-electricity-chart>
  </mat-card>
</mat-card>
