@import '../../../@theme/styles/themes';

@include nb-install-component() {
  mat-card {
    flex-direction: row;
    align-items: center;
    padding: 1.25rem;
    height: auto;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    border-radius: nb-theme(card-border-radius);
    transition: background-color 0.3s ease;
    margin-right: 1.25rem;

    mat-icon {
      width: 100%;
      height: 100%;
      font-size: inherit;
      line-height: inherit;
      text-align: center;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: 600;
      color: nb-theme(text-hint-color);
      margin-bottom: 0.25rem;
    }

    .status {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  .icon-container {
    height: 100%;
    padding: 0.625rem;
  }

  @each $status in nb-get-statuses() {
    &.status-#{$status} {
      $left-color: nb-theme(button-hero-#{$status}-left-background-color);
      $right-color: nb-theme(button-hero-#{$status}-right-background-color);
      background-image: linear-gradient(to right, $left-color, $right-color);

      &:hover {
        $left-hover-color: nb-theme(
          button-hero-#{$status}-hover-left-background-color
        );
        $right-hover-color: nb-theme(
          button-hero-#{$status}-hover-right-background-color
        );
        background-image: linear-gradient(
          to right,
          $left-hover-color,
          $right-hover-color
        );
      }
    }
  }

  &.off {
    color: nb-theme(text-hint-color);

    .status,
    .title,
    .icon {
      color: nb-theme(text-hint-color);
    }

    @each $status in nb-get-statuses() {
      .icon.status-#{$status} {
        box-shadow: none;
        background-image: linear-gradient(to right, transparent, transparent);
      }
    }
  }
}
