<div class="dialog-grid">
  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Open Dialog</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dialog-card__actions">
      <button mat-flat-button type="button" color="primary" (click)="open()">
        Open Dialog with component
      </button>

      <button mat-stroked-button type="button" (click)="open2(dialog)">
        Open Dialog with template
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Open Without Backdrop</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dialog-card__actions">
      <button mat-flat-button type="button" color="primary" (click)="open()">
        Open Dialog with backdrop
      </button>

      <button mat-stroked-button type="button" (click)="openWithoutBackdrop(dialog)">
        Open Dialog without backdrop
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Open Without Esc Close</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dialog-card__actions">
      <button mat-flat-button type="button" color="primary" (click)="open()">
        Open Dialog with esc close
      </button>

      <button mat-stroked-button type="button" (click)="openWithoutEscClose(dialog)">
        Open Dialog without esc close
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Open Without Backdrop Click</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dialog-card__actions">
      <button mat-flat-button type="button" color="primary" (click)="open()">
        Open Dialog with backdrop click
      </button>

      <button mat-stroked-button type="button" (click)="openWithoutBackdropClick(dialog)">
        Open without backdrop click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dialog-card dialog-card--result">
    <mat-card-header>
      <mat-card-title>Return Result From Dialog</mat-card-title>
    </mat-card-header>
    <mat-card-content class="result-from-dialog">
      <button mat-flat-button type="button" color="primary" data-testid="dialog-enter-name-button" (click)="open3()">
        Enter Name
      </button>

      <div>
        <h3 class="result-from-dialog__title">Names:</h3>
        <ul data-testid="dialog-name-list">
          @for (name of names; track name) {
          <li>{{ name }}</li>
          }
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #dialog let-data>
  <h2 mat-dialog-title>Template Dialog</h2>
  <mat-dialog-content class="dialog-template__content">{{ data }}</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" mat-dialog-close>Close Dialog</button>
  </mat-dialog-actions>
</ng-template>