<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <mat-card>
      <mat-card-header>Open Dialog</mat-card-header>
      <mat-card-content>
        <button mat-button (click)="open()">Open Dialog with component</button>

        <button mat-button (click)="open2(dialog)">
          Open Dialog with template
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <mat-card>
      <mat-card-header>Open Without Backdrop</mat-card-header>
      <mat-card-content>
        <button mat-button (click)="open()">Open Dialog with backdrop</button>

        <button mat-button (click)="openWithoutBackdrop(dialog)">
          Open Dialog without backdrop
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <mat-card>
      <mat-card-header>Open Without Esc Close</mat-card-header>
      <mat-card-content>
        <button mat-button (click)="open()">Open Dialog with esc close</button>

        <button mat-button (click)="openWithoutEscClose(dialog)">
          Open Dialog without esc close
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <mat-card>
      <mat-card-header>Open Without Backdrop Click</mat-card-header>
      <mat-card-content>
        <button mat-button (click)="open()">
          Open Dialog with backdrop click
        </button>

        <button mat-button (click)="openWithoutBackdropClick(dialog)">
          Open without backdrop click
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <mat-card class="form-input-card">
      <mat-card-header>Return Result From Dialog</mat-card-header>
      <mat-card-content class="result-from-dialog">
        <button mat-button (click)="open3()">Enter Name</button>
        <br />
        <h3 class="title">Names:</h3>
        <ul>
          @for (name of names; track name) {
            <li>{{ name }}</li>
          }
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #dialog let-data>
  <mat-card>
    <mat-card-header>Template Dialog</mat-card-header>
    <mat-card-content>{{ data }}</mat-card-content>
    <mat-card-footer>
      <button mat-button mat-dialog-close>Close Dialog</button>
    </mat-card-footer>
  </mat-card>
</ng-template>
