<mat-card>
  <mat-card-header> Toaster configuration </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label">Position:</label>
          <mat-select [(value)]="position" class="position-select">
            @for (p of positions; track p) {
              <mat-option [value]="p">{{ p }}</mat-option>
            }
          </mat-select>
        </div>

        <div class="form-group">
          <label class="label">Title:</label>
          <input matInput [(ngModel)]="title" name="title" />
        </div>

        <form>
          <div class="form-group">
            <label class="label">Content:</label>
            <input matInput [(ngModel)]="content" name="content" />
          </div>
        </form>

        <div class="form-group">
          <label class="label"
            >Time to hide toast, ms. 0 to persistent toast:</label
          >
          <input matInput type="number" [(ngModel)]="duration" name="timeout" />
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="label">Toast type:</label>
          <mat-select [(value)]="status">
            @for (t of types; track t) {
              <mat-option [value]="t">{{ t }}</mat-option>
            }
          </mat-select>
        </div>

        <div>
          <mat-checkbox [(ngModel)]="destroyByClick"
            >Hide on click</mat-checkbox
          >
        </div>
        <div>
          <mat-checkbox [(ngModel)]="preventDuplicates"
            >Prevent arising of duplicate toast</mat-checkbox
          >
        </div>
        <div>
          <mat-checkbox [(ngModel)]="hasIcon"
            >Show toast with icon</mat-checkbox
          >
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <button mat-button (click)="makeToast()">Show toast</button>
    <button mat-button color="accent" (click)="openRandomToast()">
      Random toast
    </button>
  </mat-card-footer>
</mat-card>
