<mat-card>
  <mat-tab-group>
    <mat-tab label="Contacts">
      <div class="contacts-list">
        @for (c of contacts; track c.user.name + c.type) {
          <div class="contact-row">
            <div class="user-info">
              <img class="avatar" [src]="c.user.picture" [alt]="c.user.name" />
              <div class="meta">
                <div class="name">{{ c.user.name }}</div>
                <div class="type">{{ c.type }}</div>
              </div>
            </div>
            <button mat-icon-button aria-label="Call contact">
              <mat-icon>phone</mat-icon>
            </button>
          </div>
        }
      </div>
    </mat-tab>

    <mat-tab label="Recent">
      <div class="contacts-list">
        @for (c of recent; track c.user.name + c.time) {
          <div class="contact-row">
            <div class="user-info">
              <img class="avatar" [src]="c.user.picture" [alt]="c.user.name" />
              <div class="meta">
                <div class="name">{{ c.user.name }}</div>
                <div class="type">{{ c.type }}</div>
              </div>
            </div>
            <span class="caption">{{ c.time | date: 'shortTime' }}</span>
          </div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
