<mat-toolbar class="header">
  <div class="logo-container">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" href="#" (click)="navigateHome()">PW-<span>test</span></a>
  </div>

  <span class="spacer"></span>

  <div class="controls">
    <mat-form-field appearance="outline" class="theme-field">
      <mat-select
        [value]="currentTheme"
        (selectionChange)="changeTheme($event.value)"
      >
        @for (theme of themes; track theme.value) {
          <mat-option [value]="theme.value">{{ theme.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-icon-button class="control-item">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="control-item">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button class="control-item">
      <mat-icon>notifications</mat-icon>
    </button>

    <div class="user-action">
      <button
        mat-button
        class="user-button"
        [matMenuTriggerFor]="userActionsMenu"
      >
        @if (user?.picture) {
          <img [src]="user.picture" class="user-avatar-img" alt="User avatar" />
        } @else {
          <mat-icon>account_circle</mat-icon>
        }
        @if (!userPictureOnly) {
          <span class="user-name">{{ user?.name }}</span>
        }
      </button>
      <mat-menu #userActionsMenu="matMenu">
        <button mat-menu-item (click)="goToProfile()">Profile</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
