<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <mat-card>
      <mat-card-header>Common Datepicker</mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input
            matInput
            [matDatepicker]="formpicker"
            placeholder="Form Picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="formpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #formpicker></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <mat-card>
      <mat-card-header>Datepicker With Range</mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-date-range-input [rangePicker]="rangepicker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="rangepicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #rangepicker></mat-date-range-picker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <mat-card>
      <mat-card-header>Datepicker With Disabled Min Max Values</mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input
            matInput
            [matDatepicker]="picker"
            [min]="min"
            [max]="max"
            placeholder="Min Max Picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="min"></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
