<div class="row">
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Popover Position</mat-card-header>
      <mat-card-content>
        <p>
          Tooltips are used as lightweight popovers for this Angular Material
          version.
        </p>
        <button
          mat-button
          color="warn"
          matTooltip="Hello, how are you today?"
          matTooltipPosition="left"
        >
          Left
        </button>
        <button
          mat-button
          color="warn"
          matTooltip="Hello, how are you today?"
          matTooltipPosition="above"
        >
          Top
        </button>
        <button
          mat-button
          color="warn"
          matTooltip="Hello, how are you today?"
          matTooltipPosition="below"
        >
          Bottom
        </button>
        <button
          mat-button
          color="warn"
          matTooltip="Hello, how are you today?"
          matTooltipPosition="right"
        >
          Right
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Simple Popovers</mat-card-header>
      <mat-card-content>
        <p>Simple text popovers.</p>
        <button
          mat-button
          color="accent"
          matTooltip="Hello, how are you today?"
        >
          Default
        </button>
        <button
          mat-button
          color="accent"
          matTooltip="Hover me"
          matTooltipPosition="above"
        >
          Hover
        </button>
        <button
          mat-button
          color="accent"
          matTooltip="Focus me"
          matTooltipPosition="below"
        >
          Focus
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Template Popovers</mat-card-header>
      <mat-card-content>
        <p>Menu overlays are used for template popovers.</p>

        <button mat-button color="warn" [matMenuTriggerFor]="tabsMenu">
          With tabs
        </button>
        <button mat-button color="warn" [matMenuTriggerFor]="formMenu">
          With form
        </button>
        <button mat-button color="warn" [matMenuTriggerFor]="cardMenu">
          With card
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>Component Popovers</mat-card-header>
      <mat-card-content>
        <p>Component content can be rendered in dialogs.</p>
        <button
          mat-button
          color="warn"
          (click)="openPopoverComponent(tabsComponent)"
        >
          With tabs
        </button>
        <button
          mat-button
          color="warn"
          (click)="openPopoverComponent(formComponent)"
        >
          With form
        </button>
        <button
          mat-button
          color="warn"
          (click)="openPopoverComponent(cardComponent)"
        >
          With card
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>Event Debouncing</mat-card-header>
      <mat-card-content class="debounce-card">
        <p>Move quickly over buttons and tooltips remain stable.</p>
        @for (_item of demoButtons; track $index) {
          <button mat-button matTooltip="Popover!">show hint</button>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-menu #tabsMenu="matMenu" class="popover-menu">
  <div class="p-3">
    <mat-tab-group>
      <mat-tab label="What's up?">
        <div class="p-3">Such a wonderful day!</div>
      </mat-tab>
      <mat-tab label="Second Tab">
        <div class="p-3">Indeed!</div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-menu>

<mat-menu #formMenu="matMenu" class="popover-menu">
  <div class="p-3">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Recipients" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject" />
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Message"></textarea>
      </div>
      <button type="button" class="btn btn-primary w-100">Send</button>
    </form>
  </div>
</mat-menu>

<mat-menu #cardMenu="matMenu" class="popover-menu">
  <div class="p-3">
    <mat-card class="popover-card">
      <mat-card-header>Hello!</mat-card-header>
      <mat-card-content>
        Far far away, behind the word mountains, there live the blind texts.
      </mat-card-content>
    </mat-card>
  </div>
</mat-menu>
